<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">


  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
              .sn {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0e1b4d;
  overflow: auto;
  top: 22vh;
  width: 257px;
  margin-left: 2rem;
  position: sticky;
  height: 100vh;
  text-align: left;
}
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

#cards {
  background: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width:900px;
  height: 60vh;
  margin:0px 180px 30px 180px;
}

.profile-card {
  flex: 1 1 30%;
  max-width: 300px;
  background: rgb(252, 252, 252);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgb(133, 133, 133);
  transition: .3s;
}

.profile-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  margin: 25px 0 10px 0;
}

.profile-position {
  font-size: 14px;
  color: #777;
}

.button {
  margin: 40px 0 0 0;
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid #999;
  background: rgb(28, 49, 145);
  border-radius: 0px;
}

.button:hover {
  color: rgb(0, 0, 0);
  background: #ffffff;
  border: 1px solid #748dff;
}

@media screen and (max-width: 1000px) {
  .profile-name {
      font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .profile-card {
      padding: 20px 15px;
  }

  .profile-name {
      font-size: 16px;
  }
}
  </style>
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;position: relative;width: 90%;" id="cards">
<div id="bodyy">
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram" style="
    left: 15vh;
">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
    left: 6vh;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Administration</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Admission</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Center</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Departments</a>

          </li>
          <li><a class="nav-link scrollto" href="#">Placements</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>
<!-- End Header -->

  <section style="margin-top: 10%;">
    <div class="row">
        <div class="col-lg-3">
            <ul style="height: 100vh;position: relative;top: 0vh;" class="sn">
                <li class="snbli"><a class="active" href="computing_and_internet.html">Computing &amp; Internet Facilities</a></li>
                <li class="snbli"><a href="library.html">Library</a></li>
                <li class="snbli"><a href="other_facilities.html">Other Facilities</a></li>
                <li class="snbli"><a href="sports_facilities.html">Physical Education</a></li>
              </ul> 
        </div>
        <div class="col" style="
    position: relative;
    top: -4rem;
    right: 15rem;
">
            <div>
                <h4 style="color: rgb(0, 0, 100);text-align: center;font-family: 'Poppins', sans-serif;margin:70px;margin-left: 56vh;font-size: xx-large;">
                  Computing &amp; Internet Facilities
                </h4>
                <h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: x-large;">
                    Computer Support Group
                </h6>
            
    
                <div class="container-fluid" style="margin: 0px 180px 20px 180px; " "="">
                  <div class="row">
                      <div class="col-12 mt-3">
                          <div class="card">
                              <div class="card-horizontal">
                                  <div class="img-square-wrapper">
                                      <img class="" src="image (1).png" alt="Card image cap" style="width:250px; margin: 20px 10px  0px 50px; padding: 10px; border-right-color: rgb(170, 170, 170); border-right-width: 1px; border-right-style: solid;height:200px">
                                  </div>
                                  <div class="card-body">
                                      <h6 class="card-title" style="color: rgb(29, 29, 143);">Server Room Rack</h6>
                                      <p class="card-text">LAN has been designed with a Full-duplex Gigabit Ethernet backbone offering an aggregate bandwidth of 10 Gbps between different Switches using Single mode fiber. All the switches are linked through OFC.</p>
                                  </div>
                              </div>
                              <div class="card-action">
                                  <small class="text-muted" style="margin-left: 50px;">Server Rack Diagram</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div style="margin:60px" ;=""></div>
              <h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: x-large;">
                Data Center Configuration (24 Hours Support)
              </h6>
              
              <div class="card" style="margin-left: 180px;margin-right: 180px;">
                <div class="card-body">
                 
                  <p class="card-text" style="padding: 10px;"></p><ol>
                    <li>IBM X3650 M3 Rack Server, Inter Xenon 2.4 GHz , 12 MB Cache , 24 GB DDR3 Ram 1333 MHz</li>
                    <li>IBM X3500 M2 server , Intel Quad Core Xenon Dual processor 2GHz, 20 GB DDR3 Ram</li>
                    <li>HP ProLiant ML 350 G6 Server, Intel Xenon Dual Processor E5620 2.4 GHz, 16 GB Ram (Redundant Server)</li>
                    <li>AMI Storage I - 10 TB , AMI Storage II - 10 TB (Redundant)</li>
                    <li>Emerson S400 D 2 nos 10 KVA UPS installed in hot standby mode and supported by 6 hours battery backup</li>
                  </ol><p></p>
                  <p class="card-text"><small class="text-muted" style="margin-left: 30px;">Architecture Diagram (Green: 1 Gbps LAN N/W | Orange: 1 Gbps ISCSI N/W)</small></p>
                </div>
                <img src="img3.png" class="card-img-top" alt="..." style="width: 700px;margin-left: 100px;">
              </div>
              <div style="margin:60px" ;=""></div>
              <div>
                <h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: x-large;">
                  Virtual Server
                </h6>
                <p style="margin-left: 180px;">
                  Data center room is monitored by surveillance camera and access to data center room is authorized by biometric door locks<br><br>
                  1.Domain Server<br>
                  2.DHCP Server<br>
                  3.Oracle Server<br>
                  4.K7 Endpoint Security- Antivirus<br>
                  5.File Server<br>
                  6.Telnet Server<br>
                  7.Moodle Server<br>
                  8.Firewall - Endian Firewall 2.5<br>
                  9.Zabbix Server - Server, Switch and UPS Monitoring<br>
                  10.Proxy Server - Squid<br>
                </p>
              </div>
              <div style="margin:60px" ;=""></div>
              <h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: x-large;">
                Zabbix Server
              </h6>
              
              <div class="card" style="margin-left: 180px;margin-right: 180px;">
                <div class="card-body">
                 
                  <p class="card-text" style="padding: 10px;"></p><ul style="margin-left: 30px;">
                    <li>It is enterprise-class open source software for monitoring of networks and applications.</li>
                    <li>To monitor and track the status of various network services, servers, and other network hardware.</li>
                    <li>Service status tracked by using SMS Modem and indications of working status shown as 'OK' otherwise it shows 'problem found'.</li>
                    
                  </ul><p></p>
                  <p class="card-text"><small class="text-muted" style="margin-left: 30px;">Zabix Monitoring Server</small></p>
                </div>
                <img src="img4.png" class="card-img-top" alt="..." style="width: 600px;margin-left: 150px;height:300px;">
              </div>
              <div style="margin:60px" ;=""></div>
              <h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: x-large;">
                SCE Data Center Fiber Routing
            </h6>
    
    
            <div class="container-fluid" style="margin: 0px 180px 20px 180px; " "="">
              <div class="row">
                  <div class="col-12 mt-3">
                      <div class="card">
                          <div class="card-horizontal">
                              <div class="img-square-wrapper">
                                  <img class="" src="img5.png" alt="Card image cap" style="width:350px; margin: 20px 10px  0px 50px; padding: 10px; border-right-color: rgb(170, 170, 170); border-right-width: 1px; border-right-style: solid;height:200px">
                              </div>
                              <div class="card-body">
                                  <h4 class="card-title" style="color: rgb(29, 29, 143);"></h4>
                                  <p class="card-text">LAN has been designed with a Full-duplex Gigabit Ethernet backbone offering an aggregate bandwidth of 10 Gbps between different Switches using Single mode fiber. All the switches are linked through OFC.</p>
                              </div>
                          </div>
                          <div class="card-action">
                              <small class="text-muted" style="margin-left: 50px;">Green:12 core | Red:6 core | Yellow:Fiber Patch</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div style="margin:60px" ;=""></div>
          <div class="wifi" style="
    margin-left: 27vh;
">
          <h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:0px;font-size: x-large;">
            Internet/Intranet
          </h6>
          <p>
            Saranathan College of Engineering is proud to provide a 24 hrs online hi speed internet facility up to 200 Mbps connection to our students thus opening up a completely new world. The Internet has become the primary source for latest and unbounded knowledge for students craving for tips, suggestions and general knowledge.
    
        
            Saranathan College of Engineering move to make the campus Wi-Fi enabled makes Internet browsing seamless and convenient.
            
            155 Mbps Jio 1:1 Fiber Leased Line internet connection along with 20 Mbps BSNL and 25 Mbps Private Wireless Leased Line with 8 Wi-Fi hotspots available for staff and students. Wi-Fi environment is all set to revolutionize the teaching-learning mechanism at Saranathan College of Engineering.
            
            The classrooms, corridors of various academic and administrative buildings have been enabled with Wi-Fi for the convenience of faculty, students and researchers and also for students staying in hostel on campus.
          </p>    
        </div>
    
    
              
    
            </div>    
             
        </div>
    </div>
</section></div>
  

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="
    width: 111.1%;
">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="
    text-align: left;
">
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

<script src="st.js"></script>

</body></html>