<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram" style="
    left: 15vh;
">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
    left: 6vh;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Administration</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Admission</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Center</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Departments</a>

          </li>
          <li><a class="nav-link scrollto" href="#">Placements</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <main id="main" class="main-page">


    <div class="row" style="
    position: relative;
    top: 15vh;
    left: -23vh;
">
      <div class="col-lg-3">
      </div>
      <div class="col">
         <div>
           <h3 style="color: rgb(19, 19, 83);text-align: center;" ;="">
             About the Institution
         </h3>
         <div style="background-color: rgb(39, 39, 129);text-align: center;margin: 2% 0%;width: 251vh;height: 20%;margin-left: -41vh;">
          <ul class="sn" style="
    top: 2rem;
    height: 87%;
">
            <li class="snbli"><a href="speaker-details.html">About the Instution</a></li>
            <li class="snbli"><a href="FP.html">Founder President</a></li>
            <li class="snbli"><a class="active" href="FS.html">Founder Secretary</a></li>
            <li class="snbli"><a href="infra.html">Infrastructure</a></li>
            <li class="snbli"><a href="quality.html">Quality Policy</a></li>
          </ul>
             <img src="WhatsApp Image 2021-06-09 at 12.30.05 PM.jpeg" alt="loading......" style="
    position: relative;
    top: -54vh;
    left: 10vh;
    width: 16%;
">
         </div>
         <h5 style="text-align: center;font-size: xxx-large;">
          Shri.K.Santhanam
         </h5>
         <h5 style="text-align: center;font-size: xx-large;">
          Founder Secretary
      </h5>

         <img src="finalquote.png" style="width: 47%;height: 17%;margin-left: 47vh;">
     <p style="margin:0px 100px;font-size: larger;color: black;text-align: justify;width: 128%;margin-left: -34vh;">
         <br><br>If Columbus had not discovered America, someoneelse would have done it sooner or later. If Vascodagama had not rounded the Cape of Good Hope and found a sea route to India, some other sailor would have done it. But if Shakespeare had not been born, no one could have written `Hamlet'. If Kalidasa had not been born, no one would have produced `Sakuntala'. Similarly if Santhanam had not been born no one would have founded Saranathan College of Engineering or Shrimati Indira Gandhi College. The campus of the Engineering College would have been a vast tract of open space with free vegetation and the campus of Shrimati Indira Gandhi College would have remained a stretch of undulated terrain with dilapidated buildings.       <br><br>

         He was the President of several organizations, one of them being the Agriculturists' Association. In that capacity, he had led many agitations with success. In fact there was no agitation in which he did not participate for the sake of public good.

He was a gifted speaker with a sense of humour. He required no time or preparation for his speech. In fact he was an expert at making impromptu speeches on any subject and on any occasion. His speeches always kept the audience in good humour. They were always eager to listen and never felt bored.

<br><br>

Just imagine a Trichy without these two colleges and the massive and lovely Blocks of Buildings they contain! The setting up and nurturing of these institutions is precisely the contribution of Santhanam to the world of Education. Long after his earthly existence ceases to be these institutions will live and proclaim his greatness.


<br><br>

Santhanam was a multifaceted personality but primarily an educationist. While Principal Saranathan was associated with National College as Professor and Principal only for 28 years(1919 to 1947) and the great Sir T.Desikachariar as President / Secretary for 33 years (1907 to 1940), Santhanam had been associated with the National College and the School for 70 years, right from 1937 to 2007, from his 7th to the 77th year, as student, as part-time professor and as Secretary.

Quantitatively he had been the uncontested Secretary of the National College Council for 30 years, having been reelected 9 times, his latest reelection being on the 28th September 2002.Qualitatively too he stands out unparalleled as an Educational Administrator and has attempted things unattempted by his predecessors.

<br><br>

His contribution to National College in the introduction of new courses, buildings and infrastructure is immense. He retrieved the situation when the college was in the red. He put up the imposing Arts Block and the Saranathan Block in the National College and the majestic Centenary Block and the Saranathan Block in the National College Higher Secondary School and similar Blocks in the SM Higher Secondary School .

The multi - storeyed Blocks in the Shrimati Indira Gandhi College make it an educational Taj Mahal. So do the Blocks in Saranathan College of Engineering and in Mahatma Gandhi Centenary Vidyalaya. What he said often about the VIPS, invited to lay the foundation stone or inaugurate new courses or buildings having the Midas touch, was true of himself. More than the VIPS he had it in abundance. He touched nothing, which he did not adorn. Every institution he founded registered rapid expansion and progress.

<br><br>

He had celebrated a number of functions in all his institutions with eclat such as the Golden Jubilee, the Diamond Jubilee and the Platinum Jubilee of National College, the Silver Jubilee of MGCV, the Golden Jubilee of S.M.Hr.Sec. School, the Centenary of NCHSS, the Decennium and Bi - Decennium of SIGC, the Decennium of SJMHSS, the Birth Centenaries of Principal Saranathan and Prof.Varadhachariar and installed the statues of the Founders and of Indira Gandhi in the old campus and the bust of Saranathan in National College.He had invited for these functions VIPS ranging from the President of India down to the local Councillor including Ministers, High Court Judges, Commissioners of Income Tax, Vice - Chancellors and eminent educationists; A marvellous record of achievements indeed!

<br><br>

He always advised the boys to aim at becoming No 1 in whatever occupation they chose and was never tired of advising parents to educate their daughters at least upto the post graduate level to enable them to stand on their own legs before thinking of their marriage.

He gave away large sums of money by way of donations to Institutions and scholarships to students from his Trusts and utilized even the purse presented to him at the celebration of the Silver Jubilee of his Secretaryship for the setting up of a new Trust and an Endowment at the Bharathidasan University for the award of a gold medal every year. He donated Rs. Ten Lakhs for the construction of the main block named after him in the Saranathan College of Engineering.

<br><br>

He was a true Shishya of the Kanchi Mutt and had great devotion to the Paramacharya. He contributed liberally to religious causes and the Annadanam Scheme in many temples and played the leading role in the Kumbabishekam of the Jumbukeshwarar temple at Tiruvanaikoil. He never began anything without seeking the blessings of the Paramacharya and never failed in anything he began.

He was a staunch worshipper of Lord Vinayaka. He had put up a small temple for Vinayaka in every one of his Institutions. His evening walks were directed either to Manikka Vinayakar Temple or to Ram Narasu's Pillayar Koil.

One can go on enumerating his other virtues like Guru Bhakthi, rapport with VIPS, comaraderie with colleagues, foresight, resourcefulness, planning, unerring judgment, hospitality, generous appreciation of work done by others, spirit of nationalism, versatility, photographic memory and ever so many similar traits. Suffice it to conclude (with a slight modification of the words of Shakespeare) with the words

</p>


     
     </div>
     </div>
         </div>
    <!-- ======= Speaker Details Sectionn ======= -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 1rem;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>



</body></html>