<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram" style="
    left: 15vh;
">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
    left: 6vh;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Administration</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Admission</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Center</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Departments</a>

          </li>
          <li><a class="nav-link scrollto" href="#">Placements</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <main id="main" class="main-page">
    <ul class="snbul" style="    top: 11rem;
    width: 257px;
    margin-left: 2rem;">
      <li class="snbli"><a href="speaker-details.html">About the Instution</a></li>
      <li class="snbli"><a href="FP.html">Founder President</a></li>
      <li class="snbli"><a href="FS.html">Founder Secretary</a></li>
      <li class="snbli"><a class="active" href="infra.html">Infrastructure</a></li>
      <li class="snbli"><a href="quality.html">Quality Policy</a></li>
    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:100%;">
      <div class="row" style="
    position: relative;
    top: 14vh;
    left: -20vh;
">
        
         <div class="col">
             <div>
                 <h3 id="de" style="
    text-align: center;
">Infrastructure at SCE</h3>
                 <p style="width: 900px; margin-left: 180px; margin-top: 40px;"><br></p><p id="feso" style="
    font-size: medium;
    text-align: center;
    width: 147vh;
    margin-left: 19vh;
    margin-top: -2rem;
">With a built-up area of 200000 square feet, 8 seminar halls, and a state of the art library with more than 40000 books and 225 periodicals and journals (both national and international), the college offers the ideal environment for the students to absorb and assimilate the top-class technical education and professional training offered.
                 </p><br><br><p></p>
                 
                 <div style="margin: 0px 180px;">
                     <div class="card horizontal" style="margin-bottom: 50px;">
                       <div>
                         <img src="assets\img\Santhanam.png" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                       </div>
                       <div class="card-stacked">
                         <div style="margin-top: -31vh;margin-left: 25rem;width: 60%;text-align: justify;"> 
                           <p style="width:450px; text-align: justify;"></p><h6>Secretary K.Santhanam Block</h6>The imposing Main Block named `SECRETARY K.SANTHANAM BLOCK has three floors covering an area of 77,000 sq. ftIt accommodates classrooms, tutorial rooms, seminar halls, laboratories for the Electrical Department, Electronics and Communication Department, and Instrumentation and Control Engineering Department.<p></p>
                         </div>
                         
                       </div>
                     </div>
                 </div>
             
                 <div style="margin: 0px 180px;">
                     <div class="card horizontal" style="margin-bottom: 50px;">
                       <div>
                         <img src="assets\img\unnamed.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                       </div>
                       <div class="card-stacked">
                         <div style="
    margin-top: -31vh;
    margin-left: 25rem;
    width: 60%;
    text-align: justify;
"> 
                           <p style="width:450px; text-align: justify;"></p><h6>RV Block &amp; Kamaraj Block</h6>The RV Block covering an area of 76,500 sq.ft. It accommodates classrooms, tutorial rooms, seminar halls, and Common laboratories for the Computer Science and Engineering Department, Information Technology Department, First Year common courses and it also accommodates administrative offices.<br><br><p></p>
                         </div>
                         
                       </div>
                     </div>
                 </div>
             
                 <div style="margin: 0px 180px;">
                     <div class="card horizontal" style="margin-bottom: 50px;">
                       <div>
                         <img src="assets\img\slide5.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                       </div>
                       <div class="card-stacked">
                         <div style="margin-top: -31vh;margin-left: 25rem;width: 60%;text-align: justify;"> 
                           <p style="width:450px; text-align: justify;"></p><h6>Jagadguru Sri Jayendra Saraswathi Block</h6>The Jagadguru Sri Jayendra Saraswathi block covering an area of 25,300 sq. ft It houses the Civil Department and its Laboratories, Library and Conference Hall.<br><br><br><br><p></p>
                         </div>
                         <div class="card-action" style="margin-top: -50px;">
                           <a href="#">View in Gallary</a>
                         </div>
                       </div>
                     </div>
                 </div>
             
                 <div style="margin: 0px 180px;">
                     <div class="card horizontal" style="margin-bottom: 50px;">
                       <div>
                         <img src="assets\img\saranathan-college-of-engineering-sce-srirangam-23915.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                       </div>
                       <div class="card-stacked">
                         <div style="
    margin-top: -31vh;
    margin-left: 25rem;
    width: 60%;
    text-align: justify;
"> 
                           <p style="width:450px; text-align: justify;"></p><h6>Poojyasri Rajaji Block</h6>The Poojyasri Rajaji block covering an area of 25,300 sq. ft It houses the Department of Management Studies, General Library, Digital Library &amp; Conference Hall.<br><br><br><p></p>
                         </div>
                         
                       </div>
                     </div>
                 </div>
             
                 <div style="margin: 0px 180px;">
                     <div class="card horizontal" style="margin-bottom: 50px;">
                       <div>
                         <img src="assets\img\WhatsApp Image 2021-06-01 at 7.21.36 PM.jpeg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                       </div>
                       <div class="card-stacked">
                         <div style="
    margin-top: -31vh;
    margin-left: 25rem;
    width: 60%;
    text-align: justify;
"> 
                           <p style="width:450px; text-align: justify;"></p><h6>Annadurai Iyer Mechanical Block</h6>Mechanical Workshop The Mechanical workshop covering an area of 21,600 sq. ft It accommodates classrooms, tutorial rooms, seminar halls, and laboratories for the Mechanical Department. Annadurai Iyer Mechanical Labs The Annadurai Iyer Mechanical Labs covering an area of 10,400 sq. ft It accommodates Laboratories for the Mechanical Department. Common Workshop The Workshop is covering an area of 10,100 sq. ft It accommodates First-Year Common Course Laboratories and Mechanical Department Laboratories.<p></p>
                         </div>
                         
                       </div>
                     </div>
                 </div>
             
                 <div style="margin: 0px 180px;">
                     <div class="card horizontal" style="margin-bottom: 50px;">
                       <div>
                         <img src="assets\img\Hostel1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                       </div>
                       <div class="card-stacked">
                         <div style="margin-top: -31vh;margin-left: 25rem;width: 60%;text-align: justify;"> 
                           <p style="width:450px; text-align: justify;"></p><h6>Hostel</h6>Boys Hostel The Boys Hostel covering an area of 40,400 sq. ft It is equipped with PlayGround, Computer Center, and Wi-Fi Facility. It consists of 40KVA Power Generator Facility. Boys hostel rules and regulation.<br><br>Girls Hostel Minicomputer center with 10 Mbps internet connectivity and Wi-Fi connectivity 24-Hour all-round security service to ensure the safety of inmates. Pure drinking water from RO plant. It consists of 125KVA Power Generator Facility. Girls Hostel rules and regulation<p></p>
                         </div>
                         
                       </div>
                     </div>
                 </div>
             
                 <div style="margin: 0px 180px;">
                     <div class="card horizontal" style="margin-bottom: 50px;">
                       <div>
                         <img src="assets\img\canteen.jpeg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                       </div>
                       <div class="card-stacked">
                         <div style="
    margin-top: -31vh;
    margin-left: 25rem;
    width: 60%;
    text-align: justify;
"> 
                           <p style="width:450px; text-align: justify;"></p><h6>Other Facilities</h6>The Canteen covering an area of 8,350 sq. ft. It consists of separate dining halls for both boys and girls. The Generator Room covering an area of 3,300 sq. ft. It consists of 625KVA and 140KVA Power Generator Facility. The Shed covering an area of 17,100 sq. ft. Combination of Three Parking shed, exclusively meant both Students and Staff. The Security Room covering an area of 300 sq. ft.<p></p>
                         </div>
                         
                       </div>
                     </div>
                 </div>
                 
             </div>
         </div>
     </div>
    </div>
    
    <!-- ======= Speaker Details Sectionn ======= -->


  </main><br><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 210vh;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>









</body></html>