
.profile-container {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 350px 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.profile-card {
    max-width: 600px;
    background: #fff;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgb(59, 59, 59);
    transition: .3s;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.profile-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 15px;
    font-weight: bold;
    margin: 25px 0 10px 0;
    color: black;
    text-align: center;
}

.profile-position {
    font-size: 14px;
    color: #777;
    margin: 0px 0 10px 0;
    text-align: center;
}

.profile-email{
    font-size: 14px;
    color: #777;
    text-align: center;
}

.button {
    margin: 40px 0 0 0;
    padding: 10px 30px;
    color: #999;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    color: #fff;
    background: #748dff;
    border: 1px solid #748dff;
}

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-name {
        font-size: 16px;
    }
}