<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  
  
    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="styles.css" rel="stylesheet">
    <link href="assets/style.scss" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
      .sn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e1b4d;
    overflow: auto;
    top: 22vh;
    width: 257px;
    margin-left: 2rem;
    position: sticky;
    height: 100vh;
    text-align: left;
}
       /* ************************************* */
       .collapsible {
  background-color: #0e1b4d;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #FFD700;
  color: #0e1b4d;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
.content button a{
  color: #0e1b4d;
}
    </style>
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">
  <div id="bodyy">
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;font-weight: 500;
      font-family: system-ui;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="./placement_cell.html">Placement cell</a></li>
                <li><a href="./placements_details.xls">Student Placement Details</a></li>
                <li><a href="./training_activities.html">Training Activities</a></li>
                <li><a href="./our_recruiters.html">Our Recruiters</a></li>
                <li><a href="./rankholders_2019.html">Rank Holders</a></li>
                <li><a href="./placement_contact.html">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="WhatsApp Image 2021-06-08 at 12.36.12 PM.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header><!-- End Header -->
  
    <section>
        <div class="container" style="margin-top: 25vh; margin-left: 0%;">
          <div class="row">
              <div class="col-lg-3">
                <ul style="height: 100vh;" class="snn">
                  <li class="snbli"><a href="./placement_cell.html">Placement Cell</a></li>
                  <li>
                    <button class="collapsible">Student Placement Details</button>
                    <div class="content">
                      <button class="dropdown-item" type="button"><a href="./placement_2015-2016.html">2015-2016</a></button>
                      <button class="dropdown-item" type="button"><a href="./placement_2016-2017.html">2016-2017</a></button>
                      <button class="dropdown-item" type="button"><a href="./placement_2017-2018.html">2017-2018</a></button>
                      <button class="dropdown-item" type="button"><a href="./placement_2018-2019.html">2018-2019</a></button>
                      <button class="dropdown-item" type="button"><a href="./placement_2019-2020.html">2019-2020</a></button>
                    </div>
                  </li>
                  <li class="snbli"><a href="./campusdrive.html">Campus Drive</a></li>
                  <li>
                    <button class="collapsible">Rank Holders</button>
                    <div class="content">
                      <button class="dropdown-item" type="button"><a href="./rankholders_2015.html">2015</a></button>
                      <button class="dropdown-item" type="button"><a href="./rankholders_2016.html">2016</a></button>
                      <button class="dropdown-item" type="button"><a href="./rankholders_2017.html">2017</a></button>
                      <button class="dropdown-item" type="button"><a href="./rankholders_2018.html">2018</a></button>
                      <button class="dropdown-item" type="button"><a href="./rankholders_2019.html">2019</a></button>
                    </div>
                  </li>
                  <li class="snbli"><a href="./placement_contact.html">Contact Us</a></li>
                </ul> 
              </div>
              <div class="col">
                <div class="container width-50">
                    <h2 class="heading">University Rank Holders of 2016</h2>
                    <h3 style="margin: 2%">Rank Holders: 20</h3>
                    <table class="table table-bordered table-striped table-hover"  style="width: 160%;text-align: center;">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Degree</th>
                                <th>Department</th>
                                <th>Student Name</th>
                                <th>Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>MCA</td>
                                <td>MCA</td>
                                <td>MATHUBALA S</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>B.E.</td>
                                <td>ICE</td>
                                <td>VIJAYA SHANTHI K</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>M.E.</td>
                                <td>TE</td>
                                <td>SHIVA RANJANI RS</td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>B.E.</td>
                                <td>ICE</td>
                                <td>PNACHAMMAI RM</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>MCA</td>
                                <td>MCA</td>
                                <td>BHARATHI K</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>B.E</td>
                                <td>ICE</td>
                                <td>PREETHI R</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>B.E.</td>
                                <td>ECE</td>
                                <td>SURUTHY B</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>M.E</td>
                                <td>PED</td>
                                <td>KALAVATHY G</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>MCA</td>
                                <td>MCA</td>
                                <td>PAVITHRA M</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>M.E</td>
                                <td>Comm.Sys</td>
                                <td>MELISHA SHARON F</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>M.E</td>
                                <td>PED</td>
                                <td>DANILA SHIRLY AR</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>M.E</td>
                                <td>PED</td>
                                <td>ANU DHEEBHA K</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>MCA</td>
                                <td>MCA</td>
                                <td>AFSANA PRAVEEN AG</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>M.E</td>
                                <td>Comm.Sys</td>
                                <td>PRISCILLA VILMA MANORATHI</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>B.E</td>
                                <td>ECE</td>
                                <td>AKILA PL</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>M.E</td>
                                <td>Comm.Sys</td>
                                <td>NALLAMMAI CT</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>M.E</td>
                                <td>Comm.Sys</td>
                                <td>ABIRAMI C</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>B.E</td>
                                <td>ECE</td>
                                <td>KARTHICK R</td>
                                <td>44</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>B.E.</td>
                                <td>EEE</td>
                                <td>YAALINI LAKSHMI PRIYA M</td>
                                <td>47</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>MCA</td>
                                <td>MCA</td>
                                <td>LAKSHIMI PRABA K</td>
                                <td>48</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
        </div>
      </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
  ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
      }
      </script>
    <script>
  var
    carousel = document.querySelector('.carousel'),
    figure = carousel.querySelector('figure'),
    nav = carousel.querySelector('nav'),
    numImages = figure.childElementCount,
    theta =  2 * Math.PI / numImages,
    currImage = 0
  ;
    
  nav.addEventListener('click', onClick, true);
  
  function onClick(e) {
    e.stopPropagation();
    
    var t = e.target;
    if (t.tagName.toUpperCase() != 'BUTTON')
      return;
    
    if (t.classList.contains('next')) {
      currImage++;
    }
    else {
      currImage--;
    }
    
    figure.style.transform = `rotateY(${currImage * -theta}rad)`;
  }
    </script>
  
  <script src="st.js"></script>
  </div>
  </body></html>