<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  
  
    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="styles.css" rel="stylesheet">
    <link href="assets/style.scss" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
           .sn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e1b4d;
    overflow: auto;
    top: 22vh;
    width: 257px;
    margin-left: 2rem;
    position: sticky;
    height: 100vh;
    text-align: left;
}
body{
    font-family: 'Poppins', sans-serif;
}
.button {
    margin: 40px 0 0 0;
    padding: 10px 30px;
    color: rgb(255, 247, 247);
    text-decoration: none;
    background-color: rgb(27, 27, 150);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
}

.button:hover {
    color: rgb(27, 27, 150);
    background-color: #ffffff;
    border: 1px solid #000000;
}

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-name {
        font-size: 16px;
    }
}
*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: #ffffff;
  } 
    </style>
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;width: 99%;">
  <div id="bodyy">
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;font-weight: 500;
      font-family: system-ui;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="#">Placement cell</a></li>
                <li><a href="#">Student Placement Details</a></li>
                <li><a href="#">Training Activities</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Rank Holders</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="WhatsApp Image 2021-06-08 at 12.36.12 PM.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header><!-- End Header -->
  
    <section class="margin-top:13%;">
        <div class="row">
            
            <div class="col">
                <div>
                    <h3 style="color: rgb(0, 0, 100); text-align: center; font-family: 'Poppins', sans-serif; margin:70px;">
                        Admission
                    </h3>
                    <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;margin-bottom: 2rem;">
                        <u>Courses Offered</u>
                    </h5>
                    <p style="margin-left: 180px;margin-bottom: 20px;">
                        All Courses are run under semester system of the Anna University - Chennai
                    </p>
                    <table class="striped" style="font-family:'Poppins'; width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: auto;margin-right: auto; text-align: center;">
                        <thead>
                          <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                              <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                              <th style="border: white;border-style: solid;border-width: 1px;">Name</th>
                              <th style="border: white;border-style: solid;border-width: 1px;">Number of Seats</th>
                              <th style="border: white;border-style: solid;border-width: 1px;">Positions</th>
                          </tr>
                        </thead>
                        <tbody style="text-align: center;">
                          <tr>
                            <td>1</td>
                            <td>B.E. - Civil Engineering</td>
                            <td>60</td>
                            <td>4 years</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>B.E. - Computer Science and Engineering</td>
                            <td>120</td>
                            <td>4 years</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>B.E. - Electronics and Communication Engineering</td>
                            <td>120</td>
                            <td>4 years</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>B.E. - Electrical and Electronics Engineering</td>
                            <td>120</td>
                            <td>4 years</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>B.E. - Instrumentation and Control Engineering.</td>
                            <td>60</td>
                            <td>4 years</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>B.Tech. - Information Technology.</td>
                            <td>60</td>
                            <td>4 years</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>B.E. - Mechanical Engineering</td>
                            <td>120</td>
                            <td>4 years</td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>Master of Business Administration</td>
                            <td>60</td>
                            <td>2 years</td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>M.E. - Communication Engineering</td>
                            <td>18</td>
                            <td>2 years</td>
                          </tr>
                          <tr>
                            <td>10</td>
                            <td>M.E. - Power Electronics and Drives</td>
                            <td>18</td>
                            <td>2 years</td>
                          </tr>
                          <tr>
                            <td>11</td>
                            <td>M.E. - Thermal Engineering</td>
                            <td>18</td>
                            <td>2 years</td>
                          </tr>
                          <tr>
                            <td>12</td>
                            <td>M.E. - Computer Science</td>
                            <td>18</td>
                            <td>2 years</td>
                          </tr>
                        </tbody>
                      </table>
                      <br><br>
        
                      <div class="norms" style="margin: 20px 180px 40px 180px">
                        <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-bottom: 2rem;">
                          <u>Admission Norms</u><br>
                        </h5>
                        <p>
                            
                                Admission is done as per State Government norms.    
                                Admission to various courses is based strictly on merit.<br><br>
                                The fee structure and assistance schemes ensure that the economic status of the students does not become<br> an inhibiting factor to pursue the programme of study.<br><br>
                          </p>
                      </div>
                      
                    <div style="margin: 0px 180px 80px 180px;  font-family: 'Poppins', sans-serif;">
                        <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-bottom: 2rem;">
                          <u>UG Admission Poilcy</u>
                          </h5>
                          <p>
                            (As per State Goverment Norms)
                          </p>
                          <div class="col s12 m7" style="
    margin-bottom: 2rem;
">
                            
                            <h6 class="header"></h6>
                            <div class="card horizontal">
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p><b style="color: rgb(45, 45, 168);">Government Quota</b><br>Admission done by Government of Tamil Nadu through, Anna University, Chennai. The admission is based on the marks scored in Mathematics, Physics &amp; Chemistry in +2 examinations.</p>
                                </div>
                                <div class="card-action">
                                  <a href="#" style="color: rgb(0, 0, 0,0.6);">65% of the seats are allocated to Goverment quota</a>
                                </div>
                                </div>
                            </div>
                          </div>
                          <div class="col s12 m7" style="
    margin-bottom: 2rem;
">
                            <h6 class="header"></h6>
                            <div class="card horizontal">
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p><b style="color: rgb(45, 45, 168);">Management Quota </b><br>Admission based on Merit list prepared by Consortium of Self Financing Engineering Colleges. (as per Government &amp; Supreme court guidelines)</p>
                                </div>
                                <div class="card-action ">
                                  <a href="#" style="color: rgb(0, 0, 0,0.6);">35% of the seats are allocated to management quota</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m7" style="
    margin-bottom: 2rem;
">
                            <h6 class="header"></h6>
                            <div class="card horizontal">
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p><b style="color: rgb(45, 45, 168);">AICTE fee waiver scheme </b><br>Merit-cum-means based.Students with family income less than Rs 6 LPA will be eligible for these seats and they will get a full tuition fee waiver</p>
                                </div>
                                <div class="card-action">
                                  <a href="#" style="color: rgb(0, 0, 0,0.6);">5% of the seats are allocated to AICTE fee waiver scheme</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m7">
                            <h6 class="header"></h6>
                            <div class="card horizontal">
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p><b style="color: rgb(45, 45, 168);">Lateral Entry</b><br>65% of 20% Government Quota, and 35% of 20% Management Quota</p>
                                </div>
                                <div class="card-action">
                                  <a href="#" style="color: rgb(0, 0, 0,0.6);">20% of the seats are allocated to lateral entries joining from year 2</a>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>   
        
                    <div style="margin: 0px 180px 80px 180px;  font-family: 'Poppins', sans-serif;;">
                        <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-bottom: 2rem;">
                          <u>PG Admission Policy</u>
                          </h5>
                          <p>
                            (As per State Goverment Norms)
                          </p>
                          <div class="col s12 m7" style="
    margin-bottom: 2rem;
">
                            <h6 class="header"></h6>
                            <div class="card horizontal">
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p><b style="color: rgb(45, 45, 168);">Government Quota</b><br>Admission done by Government of Tamil Nadu through, Anna University, Chennai. </p>
                                </div>
                                <div class="card-action">
                                  <a href="#" style="color: rgb(0, 0, 0,0.6);">50% of the seats are allocated to Goverment quota(PG)</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m7">
                            <h6 class="header"></h6>
                            <div class="card horizontal">
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p><b style="color: rgb(45, 45, 168);">Management Quota </b><br>Admission based on Merit list prepared by Consortium of Self Financing Engineering Colleges. (as per Government &amp; Supreme court guidelines)</p>
                                </div>
                                <div class="card-action">
                                  <a href="#" style="color: rgb(0, 0, 0,0.6);">50% of the seats are allocated to Management quota(PG)</a>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>   
                    
                    
              <div class="committees" style="margin-left: 180px;margin-right: 180px;">
                <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-bottom: 2rem;">
                <u>Scholarships</u><br>
                </h5>
                <p>
                    Tamil Nadu Government Welfare SC/ST Scholarship<br><br>
        
                    Tamil Nadu Government Welfare BC/MBC Scholarship<br><br>
                    
                    Tamil Nadu Government Welfare Minority Scholarship <a href="http://www.momascholarship.gov.in/">www.momascholarship.gov.in</a><br><br>
                    
                    AICTE Fee Waiver Scheme.<br><br>
                    
                    First Graduate Scheme (Government of Tamilnadu)<br><br>
                    
                    Central Sector Scholarship <a href="http://www.tndcescholarship.org/">www.tndcescholarship.org</a><br><br>
                    
                    Scholarships from Vidya Seva Ratnam Santhanam Educational Trust to eligible students on merit-cum-means basis.<br><br>
                </p>
              </div>
                
            </div>
        </div>
    </div></section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
  ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
  var
    carousel = document.querySelector('.carousel'),
    figure = carousel.querySelector('figure'),
    nav = carousel.querySelector('nav'),
    numImages = figure.childElementCount,
    theta =  2 * Math.PI / numImages,
    currImage = 0
  ;
    
  nav.addEventListener('click', onClick, true);
  
  function onClick(e) {
    e.stopPropagation();
    
    var t = e.target;
    if (t.tagName.toUpperCase() != 'BUTTON')
      return;
    
    if (t.classList.contains('next')) {
      currImage++;
    }
    else {
      currImage--;
    }
    
    figure.style.transform = `rotateY(${currImage * -theta}rad)`;
  }
    </script>
  
  <script src="st.js"></script>
  </div>
  </body></html>