<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">


  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
              .sn {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0e1b4d;
  overflow: auto;
  top: 22vh;
  width: 257px;
  margin-left: 2rem;
  position: sticky;
  height: 100vh;
  text-align: left;
}
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

#cards {
  background: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width:900px;
  height: 60vh;
  margin:0px 180px 30px 180px;
}

.profile-card {
  flex: 1 1 30%;
  max-width: 300px;
  background: rgb(252, 252, 252);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgb(133, 133, 133);
  transition: .3s;
}

.profile-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  margin: 25px 0 10px 0;
}

.profile-position {
  font-size: 14px;
  color: #777;
}

.button {
  margin: 40px 0 0 0;
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid #999;
  background: rgb(28, 49, 145);
  border-radius: 0px;
}

.button:hover {
  color: rgb(0, 0, 0);
  background: #ffffff;
  border: 1px solid #748dff;
}

@media screen and (max-width: 1000px) {
  .profile-name {
      font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .profile-card {
      padding: 20px 15px;
  }

  .profile-name {
      font-size: 16px;
  }
}
  </style>
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;" id="cards">
<div id="bodyy">
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram" style="
    left: 15vh;
">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
    left: 6vh;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Administration</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Admission</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Center</a>

          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Departments</a>

          </li>
          <li><a class="nav-link scrollto" href="#">Placements</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <section class="margin-top: 13%;" style="
  width: 68%;
">
      <div class="row">
          
          <div class="col">
              <div>
                  <h3 style="color: rgb(0, 0, 100); text-align: center; font-family: 'Poppins', sans-serif; margin:70px;">
                      Administration
                  </h3>
                  <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;margin-bottom: 20px;">
                      <u>Governing Council Members</u><br><br>
                  </h5>
                  <table class="striped" style="font-family:'Poppins'; width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: auto;margin-right: auto;">
                      <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">Name</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Position</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Catagory</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Representing</th>
                        </tr>
                      </thead>
              
                      <tbody>
                        <tr>
                          <td>Thiru. S.Ravindran, B.Com.,</td>
                          <td>Member</td>
                          <td>Secretary of the Society</td>
                          <td>Society</td>
                        </tr>
                        <tr>
                          <td>Thiru. R. Rajagopalan, B.Com., B.L.,,</td>
                          <td>Member</td>
                          <td>President of the Society</td>
                          <td>Society</td>
                        </tr>
                        <tr>
                          <td>Thiru. R.Jagannathan, B.E.,</td>
                          <td>Member</td>
                          <td>Vice President of the Society</td>
                          <td>Society</td>
                        </tr>
                        <tr>
                          <td>Thiru. S.Vaidyanathan, B.Com.,B.L.,M.B.A.,</td>
                          <td>Member</td>
                          <td>Managing Committee Member</td>
                          <td>Society</td>
                        </tr>
                        <tr>
                          <td>Dr. R. Mathrubootham, M.D.,</td>
                          <td>Member</td>
                          <td>Committee Member</td>
                          <td>Society</td>
                        </tr>
                        <tr>
                          <td>Regional Officer</td>
                          <td>Member</td>
                          <td>Ex-Officio</td>
                          <td>SRO, AICTE, Chennai</td>
                        </tr>
                        <tr>
                          <td>Nomination awaited</td>
                          <td>Member</td>
                          <td>University Nominee</td>
                          <td>Affiliating University</td>
                        </tr>
                        <tr>
                          <td>Commissioner of Technical Education</td>
                          <td>Member</td>
                          <td>Ex-Officio</td>
                          <td>Government of Tamilnadu</td>
                        </tr>
                        <tr>
                          <td>Dr. L. Ganesan, Professor, Computer Science and Engineering</td>
                          <td>Member</td>
                          <td>Educationist</td>
                          <td>Nominee of Government of Tamilnadu</td>
                        </tr>
                        <tr>
                          <td>Dr. Y. Venkataramani, Dean (R&amp;D)</td>
                          <td>Chairman</td>
                          <td>Secretary of the Society</td>
                          <td>Society</td>
                        </tr>
                        <tr>
                          <td>Prof.S.Sundar, B.Com.,M.B.A., Professor,(BIM)</td>
                          <td>Member</td>
                          <td>Educationist</td>
                          <td>Nominated by the Society</td>
                        </tr>
                        <tr>
                          <td>Dr.D.Valavan</td>
                          <td>Ex-Officio</td>
                          <td>Principal</td>
                          <td>Nominated by the Society</td>
                        </tr>
                        <tr>
                          <td>Dr. S.M.Girirajkumar, Ph.D Professor,Dept:ICE</td>
                          <td>Member</td>
                          <td>Professor</td>
                          <td>College Faculty</td>
                        </tr>
                        <tr>
                        
                      </tr></tbody>
                    </table>
                    <br><br>
              </div>
              
                <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px">
                  <u>Key Persons of the Institution</u>
                </h5>
                <div class="profile-container">
                  <div class="profile-card">
                    <img src="Img_icons/rv.jpeg" class="profile-icon">
                    <div class="profile-name">Shri.S.Ravindran</div>
                    <div class="profile-position">Secretary</div>
                    <a href="#" class="button">Contact</a>
                  </div>
                  <div class="profile-card">
                    <img src="Img_icons/pr.jpeg" class="profile-icon">
                    <div class="profile-name">Dr.D.Valavan</div>
                    <div class="profile-position">Principal</div>
                    <a href="#" class="button">Contact</a>
                  </div>
                  <div class="profile-card">
                    <img src="Img_icons/naga.jpeg" class="profile-icon">
                    <div class="profile-name">Prof.V.Nagarajan</div>
                    <div class="profile-position">Director</div>
                    <a href="#" class="button">Contact</a>
                  </div>
                  <div class="profile-card">
                    <img src="Img_icons/venka.jpeg" class="profile-icon">
                    <div class="profile-name">Dr.Y.Venkataramani</div>
                    <div class="profile-position">Dean(R&amp;D)</div>
                    <a href="#" class="button">Contact</a>
                  </div>
                </div>
              </div>
             
            <div class="committees" style="margin-left: 180px;margin-right: 180px;">
              <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;">
              <u>College Committee</u><br><br>
              </h5>
              <p style="text-align: justify;">
                <b>Planning and Monitoring Board</b><br>
      Reviewing academic and other related activities.<br>
      Formulating master plan for campus development, facilitating implementation of the provisions of the perspective plan.<br>
      Promoting research and extension activities in the college campus.<br><br>
      <b>Complaints and Redressal Committee</b><br>
      Examining / inquiring complaints of eve teasing,sexual harassment and any other problems related to women and recommending punishments / remedial measures in such cases.<br><br>
      <b>Discipline and Welfare Committee</b><br>
      Examining / inquiring complaints of ragging, eve teasing and harassment of weaker sections and recommending punishments / remedial measures in such cases.<br><br>
      <b>Research &amp; Development Cell</b><br>
      Monitoring Ph.D work of faculty, documenting filing of patents and arranging / supervising industry interaction for research.<br><br>
      <b>Entrepreneurship Cell</b><br>
      Promoting entrepreneurship and consultancy among faculty, creating awareness among students.<br><br>
      <b>Grievance Redressal Committee</b><br>
      Identifying and redressing the grievances of staff members.<br><br>
              </p>
            </div>
              
          </div>
      </section></div>
  

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="
    text-align: left;
">
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
var
  carousel = document.querySelector('.carousel'),
  figure = carousel.querySelector('figure'),
  nav = carousel.querySelector('nav'),
  numImages = figure.childElementCount,
  theta =  2 * Math.PI / numImages,
  currImage = 0
;
  
nav.addEventListener('click', onClick, true);

function onClick(e) {
  e.stopPropagation();
  
  var t = e.target;
  if (t.tagName.toUpperCase() != 'BUTTON')
    return;
  
  if (t.classList.contains('next')) {
    currImage++;
  }
  else {
    currImage--;
  }
  
  figure.style.transform = `rotateY(${currImage * -theta}rad)`;
}
  </script>

<script src="st.js"></script>

</body></html>