<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  
  
    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="styles.css" rel="stylesheet">
    <link href="assets/style.scss" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
                .sn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e1b4d;
    overflow: auto;
    top: 22vh;
    width: 257px;
    margin-left: 2rem;
    position: sticky;
    height: 100vh;
    text-align: left;
}
section{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    
}
.dabba{
    display: flex;
    justify-content: space-evenly;
}
.dabba2{
    display: block;
}

.sidenavv {
	height: 420px;
	width: 280px; 
	z-index: 1;
	top: 0;
	left: 0;
	padding: 0;
	margin-top: 90px;
    position: absolute;
	margin-left: 0px;
    margin-top: 100px;
	overflow-x: hidden;
}

.sidenavv a {
	text-decoration: none;
	font-size: 15px;
    font-weight: bolder;
	color: rgb(255, 255, 255);
	display: block;
	background-color: #003aa5;
	z-index: 2;
	padding: 15px;
	margin: 5px;
	font-family: 'Poppins', sans-serif;
}
.sidenavv a:hover {
	color: rgb(19, 0, 105);
	border-left: 3px solid rgb(228, 213, 0);
    background-color: white;
}

section div button{
    color:rgb(255, 255, 255);
    background-color: rgb(0, 52, 119);
    margin: 100px 20px 20px 20px;
    width:150px;
    height: 40px;
    border-color: rgb(0, 0, 58);
    text-align: center;
    margin: 50px 550px 50px 550px;
    
}
section div button:hover{
    background-color:white;
    color: rgb(0, 52, 119);
}
section div img{
    background-size: cover;
    height: 290px;
    width: 220px;
    align-items: center;
    position: relative;
    left: 520px;

}
section div img.sample{
    display:block;
    background-size: cover;
    height: 150px;
    width:400px;
    position: relative;
    left: 380px;
    margin: 50px;
}
section div h2{
    text-align: center;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
}
section div h4,h6{
    text-align: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    
}
section div h6{
    word-spacing: 30px;
}
section div p{
    text-align: justify;
    margin: 25px 100px 25px 100px;
    font-size:14px;  
    font-weight: bold; 
    font-size: smaller;
}

    </style>
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">
  <div id="bodyy">
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;font-weight: 500;
      font-family: system-ui;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="#">Placement cell</a></li>
                <li><a href="#">Student Placement Details</a></li>
                <li><a href="#">Training Activities</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Rank Holders</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="WhatsApp Image 2021-06-08 at 12.36.12 PM.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header><!-- End Header -->
  
    <section style="margin-top: 13%;">
   <div class="row">
       <div class="col-lg-3">
        <ul style="height: 100vh;" class="sn">
            <li class="snbli"><a href="./placement_cell.html">Placement Cell</a></li>
            <li class="snbli"><a href="./campusdrive.html">Campus Drive</a></li>
            <li class="snbli"><a href="./placement_contact.html">Contact Us</a></li>
          </ul> 
       </div>
        <div class="col">
            <div>
                <h3 id="de"><strong>Infrastructure at SCE</strong></h3>
                <p style="width: 900px; margin-left: 180px; margin-top: 40px;"><br><strong id="feso">With a built-up area of 200000 square feet, 8 seminar halls, and a state of the art library with more than 40000 books and 225 periodicals and journals (both national and international), the college offers the ideal environment for the students to absorb and assimilate the top-class technical education and professional training offered.
                </strong><br><br></p>
                
                <div style="margin: 0px 180px;">
                    <div class="card horizontal" style="margin-bottom: 50px;">
                      <div>
                        <img src="assets\img\Santhanam.png" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                      </div>
                      <div class="card-stacked">
                        <div style="margin-top: -100px; margin-left:15px;"> 
                          <p style="width:450px; text-align: justify;"><h6>Secretary K.Santhanam Block</h6>The imposing Main Block named `SECRETARY K.SANTHANAM BLOCK has three floors covering an area of 77,000 sq. ftIt accommodates classrooms, tutorial rooms, seminar halls, laboratories for the Electrical Department, Electronics and Communication Department, and Instrumentation and Control Engineering Department.</p>
                        </div>
                        <div class="card-action" style="margin-top: -50px;">
                          <a href="#" >View in Gallary</a>
                        </div>
                      </div>
                    </div>
                </div>
            
                <div style="margin: 0px 180px;">
                    <div class="card horizontal" style="margin-bottom: 50px;">
                      <div>
                        <img src="assets\img\unnamed.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                      </div>
                      <div class="card-stacked">
                        <div style="margin-top: -100px; margin-left:15px;"> 
                          <p style="width:450px; text-align: justify;"><h6>RV Block & Kamaraj Block</h6>The RV Block covering an area of 76,500 sq.ft. It accommodates classrooms, tutorial rooms, seminar halls, and Common laboratories for the Computer Science and Engineering Department, Information Technology Department, First Year common courses and it also accommodates administrative offices.<br><br></p>
                        </div>
                        <div class="card-action" style="margin-top: -50px;">
                          <a href="#">View in Gallary</a>
                        </div>
                      </div>
                    </div>
                </div>
            
                <div style="margin: 0px 180px;">
                    <div class="card horizontal" style="margin-bottom: 50px;">
                      <div>
                        <img src="assets\img\slide5.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                      </div>
                      <div class="card-stacked">
                        <div style="margin-top: -100px; margin-left:15px;"> 
                          <p style="width:450px; text-align: justify;"><h6>Jagadguru Sri Jayendra Saraswathi Block</h6>The Jagadguru Sri Jayendra Saraswathi block covering an area of 25,300 sq. ft It houses the Civil Department and its Laboratories, Library and Conference Hall.<br><br><br><br></r></p>
                        </div>
                        <div class="card-action" style="margin-top: -50px;">
                          <a href="#">View in Gallary</a>
                        </div>
                      </div>
                    </div>
                </div>
            
                <div style="margin: 0px 180px;">
                    <div class="card horizontal" style="margin-bottom: 50px;">
                      <div>
                        <img src="assets\img\saranathan-college-of-engineering-sce-srirangam-23915.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                      </div>
                      <div class="card-stacked">
                        <div style="margin-top: -100px; margin-left:15px;"> 
                          <p style="width:450px; text-align: justify;"><h6>Poojyasri Rajaji Block</h6>The Poojyasri Rajaji block covering an area of 25,300 sq. ft It houses the Department of Management Studies, General Library, Digital Library & Conference Hall.<br><br><br></r></p>
                        </div>
                        <div class="card-action" style="margin-top: -50px;">
                          <a href="#">View in Gallary</a>
                        </div>
                      </div>
                    </div>
                </div>
            
                <div style="margin: 0px 180px;">
                    <div class="card horizontal" style="margin-bottom: 50px;">
                      <div>
                        <img src="assets\img\WhatsApp Image 2021-06-01 at 7.21.36 PM.jpeg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                      </div>
                      <div class="card-stacked">
                        <div style="margin-top: -100px; margin-left:15px;"> 
                          <p style="width:450px; text-align: justify;"><h6>Annadurai Iyer Mechanical Block</h6>Mechanical Workshop The Mechanical workshop covering an area of 21,600 sq. ft It accommodates classrooms, tutorial rooms, seminar halls, and laboratories for the Mechanical Department. Annadurai Iyer Mechanical Labs The Annadurai Iyer Mechanical Labs covering an area of 10,400 sq. ft It accommodates Laboratories for the Mechanical Department. Common Workshop The Workshop is covering an area of 10,100 sq. ft It accommodates First-Year Common Course Laboratories and Mechanical Department Laboratories.</p>
                        </div>
                        <div class="card-action" style="margin-top: -80px;">
                          <a href="#">View in Gallary</a>
                        </div>
                      </div>
                    </div>
                </div>
            
                <div style="margin: 0px 180px;">
                    <div class="card horizontal" style="margin-bottom: 50px;">
                      <div>
                        <img src="assets\img\Hostel1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                      </div>
                      <div class="card-stacked">
                        <div style="margin-top: -100px; margin-left:15px;"> 
                          <p style="width:450px; text-align: justify;"><h6>Hostel</h6>Boys Hostel The Boys Hostel covering an area of 40,400 sq. ft It is equipped with PlayGround, Computer Center, and Wi-Fi Facility. It consists of 40KVA Power Generator Facility. Boys hostel rules and regulation.<br><br>Girls Hostel Minicomputer center with 10 Mbps internet connectivity and Wi-Fi connectivity 24-Hour all-round security service to ensure the safety of inmates. Pure drinking water from RO plant. It consists of 125KVA Power Generator Facility. Girls Hostel rules and regulation</p>
                        </div>
                        <div class="card-action" style="margin-top: -90px;">
                          <a href="#">View in Gallary</a>
                        </div>
                      </div>
                    </div>
                </div>
            
                <div style="margin: 0px 180px;">
                    <div class="card horizontal" style="margin-bottom: 50px;">
                      <div>
                        <img src="assets\img\canteen.jpeg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
                      </div>
                      <div class="card-stacked">
                        <div style="margin-top: -100px; margin-left:15px;"> 
                          <p style="width:450px; text-align: justify;"><h6>Other Facilities</h6>The Canteen covering an area of 8,350 sq. ft. It consists of separate dining halls for both boys and girls. The Generator Room covering an area of 3,300 sq. ft. It consists of 625KVA and 140KVA Power Generator Facility. The Shed covering an area of 17,100 sq. ft. Combination of Three Parking shed, exclusively meant both Students and Staff. The Security Room covering an area of 300 sq. ft.</p>
                        </div>
                        <div class="card-action" style="margin-top: -50px;">
                          <a href="#">View in Gallary</a>
                        </div>
                      </div>
                    </div>
                </div>
                <div>
                    <button>
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
   </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
  ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
  var
    carousel = document.querySelector('.carousel'),
    figure = carousel.querySelector('figure'),
    nav = carousel.querySelector('nav'),
    numImages = figure.childElementCount,
    theta =  2 * Math.PI / numImages,
    currImage = 0
  ;
    
  nav.addEventListener('click', onClick, true);
  
  function onClick(e) {
    e.stopPropagation();
    
    var t = e.target;
    if (t.tagName.toUpperCase() != 'BUTTON')
      return;
    
    if (t.classList.contains('next')) {
      currImage++;
    }
    else {
      currImage--;
    }
    
    figure.style.transform = `rotateY(${currImage * -theta}rad)`;
  }
    </script>
  
  <script src="st.js"></script>
  </div>
  </body></html>