<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="styles.css" rel="stylesheet">
    <link href="assets/style.scss" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
                   .sn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e1b4d;
    overflow: auto;
    top: 22vh;
    width: 257px;
    margin-left: 2rem;
    position: sticky;
    height: 100vh;
    text-align: left;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.button {
    margin: 40px 0 0 0;
    padding: 10px 30px;
    color: rgb(255, 247, 247);
    text-decoration: none;
    background-color: rgb(27, 27, 150);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
}

.button:hover {
    color: rgb(27, 27, 150);
    background-color: #ffffff;
    border: 1px solid #000000;
}
.wifi{
    margin-left: 180px;
    margin-right: 180px;
}
.wifi img{
    float:right;
    height: 140px;
    width:310px;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 8px;
}  

.wifi p{
    text-align: justify;
    width:900px;
}
.wifi2{
    margin-left: 180px;
    margin-right: 180px;
}
.wifi2 img{
    float:left;
    height: 180px;
    width:300px;
    margin-right: 25px;
    margin-left: 0px;
}  

.wifi2 p{
    text-align: justify;
    width:900px;
}
  

    </style>
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">
  <div id="bodyy">
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;font-weight: 500;
      font-family: system-ui;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="#">Placement cell</a></li>
                <li><a href="#">Student Placement Details</a></li>
                <li><a href="#">Training Activities</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Rank Holders</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="WhatsApp Image 2021-06-08 at 12.36.12 PM.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header><!-- End Header -->
  
    <section style="margin-top: 13%;">
        <div class="row">
            <div class="col-lg-3">
                <ul style="height: 100vh;" class="sn">
                    <li class="snbli"><a href="./placement_cell.html">Placement Cell</a></li>
                    <li class="snbli"><a href="./campusdrive.html">Campus Drive</a></li>
                    <li class="snbli"><a href="./placement_contact.html">Contact Us</a></li>
                  </ul> 
            </div>
            <div class="col">
                <div>
                    <div>
                        <h3 style="color: rgb(0, 0, 100); text-align: center; font-family: 'Poppins', sans-serif; margin:70px 70px 0px 70px;">
                            Other Facilities
                        </h3>
                        <h6 style="color: rgba(2, 2, 27, 0.678);font-family: 'Poppins', sans-serif;text-align: center;">
                            <u>Transport | Hostel | Canteen</u>
                        </h6>
                        <br><br>
                        <div class="wifi">
                
                          <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:0px;">
                            Bus Facilities
                          </h5>
                          <p>
                            <img src="789.jpg" alt="">
                            
            The College has a fleet of buses to facilitate the to and fro transport of students. A fleet of twenty five buses are operated from different parts of the neighbouring areas to bring the students and staff to the college premises in time. In addition, a number of state owned and private town and mofussil buses ply via the college and this place is easily accessible from Tiruchi Bus stand and Railway station. The Government of Tamilnadu has arranged an exclusive bus to ply between Mainguard gate and our college, both in the morning and evening.
                          </p>    
                        </div>
                        
            <div>
              <p style="margin:50px;">
                
              </p>
            </div>
            
            <div>
              <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;">
                Hostel
              </h5>
              <img src="1623340838203.jpg" style="margin-left: 300px;height:350px; border-style: solid; border-color: rgba(0, 0, 0, 0.253);border-radius: 10px; border-width:1px; width:650px;">
              <div style="margin:0px 180px">
              <table class="striped">
                <thead>
                  <tr style="color: rgb(34, 34, 143);">
                      <th>Sl.no</th>
                      <th>Seating</th>
                      <th>Rooms</th>
                      <th>Capacity</th>
                  </tr>
                </thead>
            
                <tbody>
                  <tr>
                    <td>01</td>
                    <td>Double Seater</td>
                    <td>54</td>
                    <td>108</td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td>Triple Seater</td>
                    <td>4</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <td>03</td>
                    <td>Six Seater</td>
                    <td>10</td>
                    <td>60</td>
                  </tr>
                </tbody>
              </table>
              <p style="text-align:center;font-size:10px;color:rgba(0, 0, 0, 0.623);">Hostel Room Availibility Table</p>
              <div>
                <p style="margin:50px;">
                  
                </p>
              </div>
              <p><h5 style="color: rgb(37, 37, 141);">Boys Hostel</h5><br>The boys hostel is in a separate spacious and airy 3 storied building, is located within the
                college campus.
                Available facilities include:<br><br>
            <div style="margin-left: 0px;">01.Spacious, well ventilated and well lighted rooms with cots, tables, chairs and fans.<br>
            02.Hygenic kitchen and dining hall where wholesome vegetarian food is served.<br>
            03.Library with large number of text and reference books.<br>
            04.Generation backup to ensure uninterrupted power, supply during study hours.<br>
            05.Mini computer center with 10 Mbps internet connectivity.<br>
            06.Wi-fi facility.<br>
            07.Recreation hall.<br>
            08.Pure drinking water from RO plant.<br>
            09.Solar water heater for hot water during winter.<br>
            10.Playgrounds of the college near the hostel.<br></p></div>
            <div>
              <p style="margin:50px;">
                
              </p>
            </div>
            <p ><h5 style="color: rgb(37, 37, 141);">Girls Hostel</h5><br>The girls hostel, run by the college, though not located within the college campus,
              is just 6 KM away from the college on the Trichy-Viralimali national highway. The hostel can
              accommodate 250 students.
              
              The available facilities are:<br><br>
              <div style="margin-left: 0px;">01.Well ventilated, well lighted rooms and spacious rooms with cots, tables, chairs and fans.<br>
              02.Pure drinking water from RO plant.<br>
              03.Generation backup.<br>
              04.Mini computer center with 10 Mbps internet connectivity and Wi-Fi connectivity.<br>
              05.Recreation hall.<br>
              06.Hygenic kitchen and dining hall serving wholesome vegetarian food.<br>
              07.Sports facilities.<br>
              08.Bus facility to transport the students from Hostel to college and back.<br>
              09.24-Hour all round security service to ensure safety of inmates.<br></div>
            </div>
                    
            <div>
              <p style="margin:50px;">
                
              </p>
            </div>    
            </div>
            
                        <div class="wifi2">
                          <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:0px;">
                            Canteen
                          </h5><p>
                            <img src="canteen_edited.jpg" style="border-radius: 8px;" alt="">
                            Canteen facilities with a dining room annexe are available at the Campus and quality vegetarian food is served during the college days.<br<br><br><br>
                              Separate STD booth with Xerox facility and a Stationery Store are available for the benefit of students.<br><br>
                            
                          </p>    
                        </div>
                       
                  <div style="margin:50px 600px;">
                    <a href="#" class="button">Back</a>
                  </div> 
                </div>
            </div>
        </div>
        </section>
  

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
  ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
  var
    carousel = document.querySelector('.carousel'),
    figure = carousel.querySelector('figure'),
    nav = carousel.querySelector('nav'),
    numImages = figure.childElementCount,
    theta =  2 * Math.PI / numImages,
    currImage = 0
  ;
    
  nav.addEventListener('click', onClick, true);
  
  function onClick(e) {
    e.stopPropagation();
    
    var t = e.target;
    if (t.tagName.toUpperCase() != 'BUTTON')
      return;
    
    if (t.classList.contains('next')) {
      currImage++;
    }
    else {
      currImage--;
    }
    
    figure.style.transform = `rotateY(${currImage * -theta}rad)`;
  }
    </script>
  
  <script src="st.js"></script>
  </div>
  </body></html>