<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="styles.css" rel="stylesheet">
    <link href="assets/style.scss" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
        .sn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0e1b4d;
    overflow: auto;
    top: 22vh;
    width: 257px;
    margin-left: 2rem;
    position: sticky;
    height: 100vh;
    text-align: left;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #ffffff;

}
.striped{
    font-size: small;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 180p;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(24, 22, 114, 0.63);
    color: #1e147c;
    padding: 20px;
    font-size: 11px;
    text-align: center;
  }
  .grid-item:hover{
      transform:scale(1.05);
      font-weight: bold;
  }  
.button {
    margin: 40px 0 0 0;
    padding: 10px 30px;
    color: rgb(255, 247, 247);
    text-decoration: none;
    background-color: rgb(27, 27, 150);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
}

.button:hover {
    color: rgb(27, 27, 150);
    background-color: #ffffff;
    border: 1px solid #000000;
}


.gird-item{
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #354F90;
 border-radius: 4px;
 transition: transform 0.3s ease-in-out;
 color: white;

background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.ejercico a {
	opacity: 0;
	text-decoration:none;
	cursor: none;
}
.gird-item:hover .ejercico a {
	color: white;
    font-weight: 900;
    font-size: large;
	opacity: 1;
	
}
.gird-item:hover {
	filter: opacity(0.9);
	transform: scale(1.04);
}


.gird-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	 /*1fr Columnas que puedes colocar */
	 grid-auto-rows: minmax(250px, auto);
	 gap:15px; /*Separación automática*/
	 padding: 10px;
	 grid-auto-flow: dense; /*Para que no hayan espacios en blanco glaeria*/
}

.text{

  
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 3;
    text-align: center;
    margin-top: 20%;
    
    margin-left: 35px;
}

@media(min-width: 600px){
    
.wide {
	grid-column: span 2;
}

.tall {
	grid-row: span 2;
}
}
    </style>
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">
  <div id="bodyy">
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;font-weight: 500;
      font-family: system-ui;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="#">Placement cell</a></li>
                <li><a href="#">Student Placement Details</a></li>
                <li><a href="#">Training Activities</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Rank Holders</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="WhatsApp Image 2021-06-08 at 12.36.12 PM.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header><!-- End Header -->
  
    <section style="margin-top: 13%;">
        
      <div class="row">
          <div class="col-lg-3">
            <ul style="height: 100vh;" class="sn">
                <li class="snbli"><a href="./placement_cell.html">Placement Cell</a></li>
                <li class="snbli"><a href="./campusdrive.html">Campus Drive</a></li>
                <li class="snbli"><a href="./placement_contact.html">Contact Us</a></li>
              </ul> 
          </div>
          <div class="col">
            <div>
                <div>
                    <h3 style="color: rgb(0, 0, 100); text-align: center; font-family: 'Poppins', sans-serif; margin:70px;">
                        Sports
                    </h3>
                    
            <div class="gird-container" style="margin: 0px 180px;">
        
              <div class="gird-item tall" style="background-image: url('WhatsApp Image 2021-06-12 at 9.17_edited.jpg');">
                                <div class="ejercico">
                                    <a>
                                        VOLLEY BALL
                                    </a>
                                </div>
              </div>
        
        
               <div class="gird-item" style="background-image: url('Screenshot 2021-06-12 093107_edited.jpg');">
                                   <div class="ejercico">
                                    <a>
                                        KABBADI
                                    </a>
                                </div>
        
               </div>
        
        
                <div class="gird-item" style="background-image: url('Screenshot 2021-06-12 091260_edited.jpg');">
                     <div class="ejercico">
                                    <a>
                                         BASKETBALL
                                    </a>
                                </div>
        
        
        
                 </div>
        
        
                  <div class="gird-item" style="background-image: url('Screenshot 2021-06-12 085656_edited.jpg');">
        
                      <div class="ejercico">
                                    <a>
                                        CRICKET
                                    </a>
                                </div>
        
        
                  </div>
        
        
                   <div class="gird-item wide" style="background-image: url('Screenshot 2021-06-12 090132_edited.jpg');">
        
                       <div class="ejercico">
                                    <a>
                                      FOOTBALL
                                    </a>
                                </div>
        
                   </div>
        
        
                    <div class="gird-item tall" style="background-image: url('Screenshot 2021-06-12 093911_edited.jpg');">
        
                        <div class="ejercico">
                                    <a>
                                        TENNIS
                                    </a>
                                </div>
                   </div> 
        
                   <div class="gird-item" style="background-image: url(http://mgcvschool.ac.in/images/chess/Img05.jpg);">
        
                    <div class="ejercico">
                        <a>
                          CHESS
                        </a>
                      </div>
          
          
                  </div>
                  <div class="gird-item" style="background-image: url('http://www.saranathan.ac.in/images/gallery/college/2017-2018/Trophy_Sports/1.jpg');">
        
                    <div class="ejercico">
                        <a>
                          TOURNAMENTS
                        </a>
                      </div>
          
          
                  </div>
                  <div class="gird-item" style="background-image: url('Screenshot 2021-06-12 102637_edited.jpg');">
        
                    <div class="ejercico">
                        <a>
                         TABLE TENNIS
                        </a>
                      </div>
          
          
                  </div>
              
        
                  <div class="gird-item wide" style="background-image: url('Sports  Of Saranathan College of Engineering Tiruchirappalli_Sports_edited.jpg');">
                    <div class="ejercico">
                         <a>
                            TRACK EVENTS
                         </a>
                       </div>
        
                   </div>    
           
                  <div class="gird-item" style="background-image: url('koko.jpg');">
        
                        <div class="ejercico">
                            <a>
                              KHO-KHO
                            </a>
                          </div>
           
                  </div>
                  </div>
                </div>
        
                  <div><p style="margin-bottom: 50px;"></p></div>
        
                  <div class="committees" style="margin-left: 180px; margin-right: 180px;">
                    <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;">
                    <u>Fields & Courts</u><br>
                    </h5>
                    <p>
                      <div class="grid-container">
                        <div class="grid-item">Basketball Court</div>
                        <div class="grid-item">Tennis Court</div>
                        <div class="grid-item">Football Field</div>
                        <div class="grid-item">Volleyball Court</div>
                        <div class="grid-item">Ball Badminton Court</div>
                        <div class="grid-item">Kabaddi Court</div>
                        <div class="grid-item">Cricket Ground(Turf Wicket)</div>
                        <div class="grid-item">Cricket Ground(Matting Wicket)</div>
                        <div class="grid-item">Cricket Ground Turf (New)</div>
                        <div class="grid-item">Hockey Field</div>
                        <div class="grid-item">Kho-Kho Court</div>
                        <div class="grid-item">200 Meters Track & Field</div>
                      </div>
                    </p>
                  </div> 
        
                      
                  <div><p style="margin-bottom: 50px;"></p></div>
        
          
        
                      <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif; margin-left: 180px;">
                        <u>Achievements</u><br>
                        </h5>
                        <p style="margin-left: 180px;">Our stars represent Anna University - Chennai</p>
        
                      <div class="container" style="margin-top:10px; width: 950px;">
                        <div class="card text-center">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs">
                                    <li class="nav-item">
                                        <a class="active nav-link active" href="#col" data-toggle="tab">2019-2020</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#rul" data-toggle="tab">2018-2019</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#ser" data-toggle="tab">2014-2015</a>
                                    </li>
                                  </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="col"><br>
                                      <p>Acedamic Year 2019-2020</p>
                                      <br><table class="striped" style="width:800px; margin-left: 30px;">
                                      <thead style="color: rgb(60, 60, 172);">
                                        <tr>
                                            <th>Name </th>
                                            <th>Year&Branch</th>
                                            <th>Game</th>
                                            <th>University</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>G. PREETHA</td>
                                          <td>III-CSE</td>
                                          <td>TAEKWONDO	</td>
                                          <td>ANNA UNIVERSITY, CHENNAI</td>
                                        </tr>
                                    </table>
                                   </div>
                                    <div class="tab-pane" id="rul"><p style="text-align: justify; width:800px; margin:0px 25px;"><br>
                                      <p>Acedamic Year 2018-2019</p>
                                      <br><table class="striped" style="width:800px; margin-left: 30px;">
                                      <thead style="color: rgb(60, 60, 172);">
                                        <tr>
                                            <th>Name </th>
                                            <th>Year&Branch</th>
                                            <th>Game</th>
                                            <th>University</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>G. PREETHA</td>
                                          <td>II-CSE</td>
                                          <td>TAEKWONDO	</td>
                                          <td>ANNA UNIVERSITY, CHENNAI</td>
                                        </tr>
                                    </table> 
                                  </div>
                                    
                                    <div class="tab-pane" id="ser"><br>
                                      <p>Acedamic Year 2014-2015</p>
                                      <br><table class="striped" style="width:800px; margin-left: 30px;">
                                      <thead style="color: rgb(60, 60, 172);">
                                        <tr>
                                            <th>Name </th>
                                            <th>Year&Branch</th>
                                            <th>Game</th>
                                            <th>University</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>M.PRASAD</td>
                                          <td>II-MECH</td>
                                          <td>FOOTBALL</td>
                                          <td>ANNA UNIVERSITY, CHENNAI</td>
                                        </tr>
                                    </table> 
                                  </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                      </div>
        
                      <div><p style="margin-bottom: 50px;"></p></div>
        
                      <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif; margin-left: 180px;">
                        <u>Tournament</u>
                      </h5>
        
        
                      <div class="container" style="margin-top:10px; width: 950px;">
                        <div class="card text-center">
                            <div class="card-header" style="font-size: 12px;">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs">
                                    <li class="nav-item">
                                        <a class="active nav-link active" href="#abc" data-toggle="tab">SCE Tournaments</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#def" data-toggle="tab">Zonal(AU-chennai)</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#dhi" data-toggle="tab">Inter-Zonal(AU-chennai)</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#jkl" data-toggle="tab">Zonal(AU-trichy)</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#mno" data-toggle="tab">Inter-Zonal(AU-trichy)</a>
                                    </li>
                                  </ul>
                            </div>
        
                            <div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="abc"><br>
                                      <p>Tournament Organized in our college</p>
                                      <table class="striped" style="width:800px; margin-left: 30px;">
                                      <thead style="color: rgb(60, 60, 172);">
                                        <tr>
                                            <th>Year</th>
                                            <th>Event</th>
                                            <th>Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>2017-2018</td>
                                          <td>STATELEVEL INTERCOLLEGIATE VIDYASEVARATHINAM SHRI.K.SANTHANAM TROPHY</td>
                                          <td>16-19 Feb 2018</td>
                                        </tr>
                                        <tr>
                                          <td>2017-2018</td>
                                          <td>6TH DISTRICT RANKING TABLE TENNIS TOURNAMENT</td>
                                          <td>2 & 3 Dec 2017</td>
                                        </tr>
                                        <tr>
                                          <td>2016-2017</td>
                                          <td>43rd JUNIOR STATE VOLLEYBALL CHAMPIONSHIP FOR BOYS AND GIRLS</td>
                                          <td>7-10 Jan 2017</td>
                                        </tr>
                                    </table>
                                   </div>
                                </div> 
                              </div>
                            </div>
        
        
                              <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane" id="def"><br>
                                          <p>Anna University, Chennai - Zonal</p>
                                          <table class="striped" style="width:800px; margin-left: 30px;">
                                          <thead style="color: rgb(60, 60, 172);">
                                            <tr>
                                                <th>Tournament</th>
                                                <th>Year</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>BASKETBALL(W)</td>
                                              <td>2018-2019, 2019-2020</td>
                                            </tr>
                                            <tr>
                                              <td>VOLLEYBALL(M)</td>
                                              <td>2018-2019</td>
                                            </tr>
                                            <tr>
                                              <td>VOLLEYBALL(W)</td>
                                              <td>2017-2018, 2018-2019</td>
                                            </tr>
                                            <tr>
                                              <td>TENNIS (M)</td>
                                              <td>2003-2004, 2004-2005, 2005-2006, 2006-2007, 2008-2009, 2009-2010, 2012-2013, 2014-2015,2016-2017,2017-2018</td>
                                            </tr>
                                            <tr>
                                              <td>Cricket (M)</td>
                                              <td>2003-2004, 2005-2006, 2007-2008, 2009-2010, 2012-2013, 2013-2014, 2014-2015, 2015-2016, 2016-2017, 2017-2018, 2019-2020</td>
                                            </tr>
                                            <tr>
                                              <td>Chess (M & W)</td>
                                              <td>2003-2004</td>
                                            </tr>
                                            <tr>
                                              <td>Table Tennis (M & W)</td>
                                              <td>2003-2004, 2008-2009, 2013-2014, 2014-2015, 2015-2016 (M), 2016-2017, 2019-2020 (M)</td>
                                            </tr>
                                            <tr>
                                              <td>Hockey (Men)</td>
                                              <td>2009-2010</td>
                                            </tr>  
                                        </table>
                                      </div>  
                                    </div>  
                                  </div>
        
                                  <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane" id="dhi"><br>
                                          <p>Anna University, Chennai - Inter Zonal</p>
                                          <table class="striped" style="width:800px; margin-left: 30px;">
                                          <thead style="color: rgb(60, 60, 172);">
                                            <tr>
                                                <th>Tournament</th>
                                                <th>Year</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>Chess</td>
                                              <td>2008-2009</td>
                                            </tr>
                                            <tr>
                                              <td>Table Tennis (M & W)</td>
                                              <td>2006-2007</td>
                                            </tr>
                                            <tr>
                                              <td>Tennis (W)</td>
                                              <td>2003-2004</td>
                                            </tr>
                                        </table>
                                      </div>  
                                    </div>  
                                  </div>
        
                                  <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane" id="jkl"><br>
                                          <p>Anna University, Chennai - Inter Zonal</p>
                                          <table class="striped" style="width:800px; margin-left: 30px;">
                                          <thead style="color: rgb(60, 60, 172);">
                                            <tr>
                                                <th>Tournament</th>
                                                <th>Year</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>Basketball (W)</td>
                                              <td>2011-2012</td>
                                            </tr>
                                            <tr>
                                              <td>Chess (M&W)</td>
                                              <td>2010-2011, 2011-2012</td>
                                            </tr>
                                            <tr>
                                              <td>Table Tennis (M & W)</td>
                                              <td>2010-2011, 2011-2012</td>
                                            </tr>
                                            <tr>
                                              <td>Tennis (M)</td>
                                              <td>2010-2011, 2011-2012</td>
                                            </tr>
                                        </table>
                                      </div>  
                                    </div>  
                                  </div>
        
                                  <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane" id="mno"><br>
                                          <p>Anna University of Technology, Trichy - Inter Zonal</p>
                                          <table class="striped" style="width:800px; margin-left: 30px;">
                                          <thead style="color: rgb(60, 60, 172);">
                                            <tr>
                                                <th>Tournament</th>
                                                <th>Year</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>Cycling (M)</td>
                                              <td>2011-2012</td>
                                            </tr>
                                            <tr>
                                              <td>Tennis (M)</td>
                                              <td>2011-2012</td>
                                            </tr>
                                            <tr>
                                              <td>Chess (M&W)</td>
                                              <td>2010-2011</td>
                                            </tr>
                                            <tr>
                                              <td>Tennis (M & W)</td>
                                              <td>2010-2011</td>
                                            </tr>
                                            <tr>
                                              <td>Fencing (M&W)</td>
                                              <td>2010-2011</td>
                                            </tr>
                                            <tr>
                                              <td>State Level Chess Tournament
                                                (Under 12 and Under 14)</td>
                                              <td>2009-2010</td>
                                            </tr>
                                            <tr>
                                              <td>Trichy District Cricket Association League tournament</td>
                                              <td>2003 onwrds</td>
                                            </tr>
                                            
        
                                           
                                        </table>
                                      </div>  
                                    </div>  
                                  </div>
                        
                        
                             <br><br> 
                        </div>
                      </div>
                    </div>
        
                    <div><p style="margin-bottom: 50px;"></p></div>  
              
                      <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif; margin-left: 180px;">
                        <u>Annual Sports Day Guests</u><br>
                        </h5>
                      <div><table class="bordered" style="font-family:'Poppins'; width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: auto;margin-right: auto; text-align: center; margin-left: 180px;font-size:11px;">
                        <thead style="color: rgb(255, 255, 255);background-color: rgb(60, 60, 172);">
                          <tr>
                              <th style="border: rgb(216, 216, 216);border-style: solid;border-width: 1px;">Year </th>
                              <th style="border: rgb(216, 216, 216);border-style: solid;border-width: 1px;">Date</th>
                              <th style="border: rgb(216, 216, 216);border-style: solid;border-width: 1px;">Guest Name</th>
                          </tr>
                        </thead>
                       
                          <tr>
                            <td>2018-2019</td>
                            <td>20-03-2019</td>
                            <td>Shri. Dr. J. Suganthi, Principal, H.H The Rajas College, Pudukkottai</td>
                          </tr>
                          <tr>
                            <td>2017-2018</td>
                            <td>20-03-2018</td>
                            <td>Shri. K.Baskaran, Former Captain, Indian National Kabaddi Team and Coach</td>
                          </tr>
                          <tr>
                            <td>2016-2017</td>
                            <td>17-03-2017</td>
                            <td>Shri. P.PunniaMoorthy, District Sports and Youth Welfare Officer</td>
                          </tr>
                          <tr>
                            <td>2015-2016</td>
                            <td>21-03-2016</td>
                            <td>Shri. G.E.Sridharan, Head coach Indian volleyball team (Arjuna Award & Dronacharya Award)</td>
                          </tr>
                          <tr>
                            <td>2013-2015</td>
                            <td>28-02-2015</td>
                            <td>Shri. Raman Vijayan, Indian Football Player</td>
                          </tr>
                          <tr>
                            <td>2010-2011</td>
                            <td>25-03-2011</td>
                            <td>Shri. N. Amarnath, Olympian Basketball Moscow-1980</td>
                          </tr>
                          <tr>
                            <td>2009-2010</td>
                            <td>24-03-2010</td>
                            <td>Shri. Sridharan Sharath, Former Indian A Cricketer</td>
                          </tr>
                          <tr>
                            <td>2008-2009</td>
                            <td>09-04-2009</td>
                            <td>Shri. P. Mariayyah, Retd Prof & Head, Bharathidasan University</td>
                          </tr>
                          <tr>
                            <td>2007-2008</td>
                            <td>21-03-2008</td>
                            <td>Shri. N. Annavi, International High Jumper,National Coach</td>
                          </tr>
                          <tr>
                            <td>2006-2007</td>
                            <td>23-03-2007</td>
                            <td>Shri. Charles Cornelius, Olympian Hockey Munich-1972</td>
                          </tr>
                          <tr>
                            <td>2005-2006</td>
                            <td>06-04-2006</td>
                            <td>Shri. K.G Muralidharan, Secretary Tdca</td>
                          </tr>
                          <tr>
                            <td>2004-2005</td>
                            <td>21-03-2005</td>
                            <td>Shri. K.S. Mohammed Nizamudin, Asian Medalist, National Athletic Coach</td>
                          </tr>
                          <tr>
                            <td>2003-2004</td>
                            <td>04-03-2004</td>
                            <td>Shri. V.B. Chandra Sekar, Former Indian Cricketer</td>
                          </tr>
                          <tr>
                            <td>2002-2003</td>
                            <td>24-02-2003</td>
                            <td>Shri. T. Ganesan, Retd,Station Director, Allindia Radio</td>
                          </tr>
                          <tr>
                            <td>2001-2002</td>
                            <td>09-10-2001</td>
                            <td>Shri. N. Gopalaswamy, Whole Time Director,Dcb</td>
                          </tr>
                          <tr>
                            <td>2000-2001</td>
                            <td>07-04-2001</td>
                            <td>Shri. P. Sundaresan, M.D Lalapettai Benefit Fund</td>
                          </tr>
                      </table>
                     </div>   
                     
                     <div><p style="margin-bottom: 50px;"></p></div>
                     
                     
        
                     <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif; margin-left: 180px;">
                      <u>Ground Inauguration</u><br>
                      </h5>
                             <table class="striped" style="font-size:11px;font-family:'Poppins'; width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: auto;margin-right: auto; text-align: center;">
                                  <thead>
                                    <tr style="background-color: rgb(60,60,172);color: whitesmoke; font-weight:lighter; margin-left: 100px;">
                                        <th style="border: rgb(216, 216, 216);border-style: solid;border-width: 1px;">&nbspName of the ground</th>
                                        <th style="border: rgb(216, 216, 216);border-style: solid;border-width: 1px;">&nbspOpened at</th>
                                        <th style="border: rgb(216, 216, 216);border-style: solid;border-width: 1px;">&nbspGuest Name</th>
                                        <th style="border: rgb(216, 216, 216);border-style: solid;border-width: 1px;">&nbspPositions</th>
                                    </tr>
                                  </thead>
                                  <tbody style="text-align: center;">
                                    <tr>
                                      <td>Tennis Ground</td>
                                      <td>12.04.2002</td>
                                      <td>Shri. R. Jegannathan</td>
                                      <td>Vice-President</td>
                                    </tr>
                                    <tr>
                                      <td>Cricket Practice Net</td>
                                      <td>22.07.2002</td>
                                      <td>Shri. M. Kalidoss</td>
                                      <td>President - TDCA</td>
                                    </tr>
                                    <tr>
                                      <td>Cricket Ground</td>
                                      <td>14.09.2002</td>
                                      <td>Shri. L. Sivarama Krishnan</td>
                                      <td>Former Test Cricketer</td>
                                    </tr>
                                    
                                  </tbody>
                                </table>
                                <br><br>
              
              <div style="margin:50px 600px;">
                <a href="#" class="button">Back</a>
              </div>  
            </div>
        </div>
      </div>
</section>
  

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
  ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
  ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
  var
    carousel = document.querySelector('.carousel'),
    figure = carousel.querySelector('figure'),
    nav = carousel.querySelector('nav'),
    numImages = figure.childElementCount,
    theta =  2 * Math.PI / numImages,
    currImage = 0
  ;
    
  nav.addEventListener('click', onClick, true);
  
  function onClick(e) {
    e.stopPropagation();
    
    var t = e.target;
    if (t.tagName.toUpperCase() != 'BUTTON')
      return;
    
    if (t.classList.contains('next')) {
      currImage++;
    }
    else {
      currImage--;
    }
    
    figure.style.transform = `rotateY(${currImage * -theta}rad)`;
  }
    </script>
  
  <script src="st.js"></script>
  <script>
      $(document).ready(function(){
    $('.tabs').tabs();
  });
  </script>
  </div>
  </body></html>