<section>
    <div class="wifi">
        <h2 style="color: rgb(0, 0, 100); text-align: center; font-family: 'Poppins', sans-serif; margin:70px;">
            Library
        </h2>
        <h5 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:0px;">
          About 
        </h5>
        <p>
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Saranathan_College_of_Engineering_-_Library_-_Study_Room.jpg" alt="">
          The library is located in the MBA Block. It is a building with ground floor and first floor, and is strategically placed for access from all departments. It spreads over a vast area of 802 sqm. The ground floor is the area to store the books and it contains the reading section. The first floor is exclusively allocated for digital section and reference section.
The College central Library is a vast storehouse of books with over 55688 volumes and more than 300 regularly subscribed journals. This includes foreign IEEE and ASME Online journals. More books are being added to the main Library every year.
In addition, each department has a Departmental Library to cater to the needs of the students for textbooks and reference books.
        </p>    
      </div>
  


<div class="container" style="margin-top:50px; width: 950px;">
<div class="card text-center">
  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="tabs">
          <li class="nav-item">
              <a class="active nav-link active" href="#col" data-toggle="tab">Collections</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#rul" data-toggle="tab">Rules & Regulation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ser" data-toggle="tab">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ere" data-toggle="tab">E-Resources</a>
      </li>
      </ul>
  </div>
  <div class="card-body">
      <div class="tab-content">
          <div class="tab-pane active" id="col">
            <br><table class="striped" style="width:800px; margin-left: 30px;">
            <thead style="color: rgb(60, 60, 172);">
              <tr>
                  <th>Resources </th>
                  <th>Volumes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total No of Books</td>
                <td>56413</td>
              </tr>
              <tr>
                <td>Titles</td>
                <td>21104</td>
              </tr>
              <tr>
                <td>Reference Books</td>
                <td>4470</td>
              </tr>
              <tr>
                <td>Back Volumes</td>
                <td>1941</td>
              </tr>
              <tr>
                <td>CD/DVDS</td>
                <td>2803</td>
              </tr>
              <tr>
                <td>Audio Cassettes</td>
                <td>28</td>
              </tr>
              <tr>
                <td>Project Reports</td>
                <td>2454</td>
              </tr>
              <tr>
                <td>NPTEL Videos</td>
                <td>182</td>
              </tr>
              <tr>
                <td>Newspapers</td>
                <td>106</td>
              </tr>
              <tr>
                <td>e-Journals</td>
                <td>7</td>
              </tr>
              <tr>
                <td>Alvin</td>
                <td>208</td>
              </tr>

          </table>
          <p style="font-size: 9px; color: rgba(0, 0, 0, 0.578);"><br>Last Updated on 04-Jan-2020 12:52 PM</p>
                </div>
          <div class="tab-pane" id="rul"><p style="text-align: justify; width:800px; margin:0px 25px;"><br>
            1.The students should scan the ID card in the library gate system, while entering and exiting.<br><br>

2.The Library will be opened from 9 a.m to 5.30 p.m. on all working days.<br><br>

3.1st and 2nd year B.E/B.Tech students are eligible to borrow 3 books at a time from the library and 3rd and final year students are eligible to borrow 4 books at a time. P.G. Students are eligible to borrow 5 books at a time. Staff members are eligible to borrow 10 books at a time.<br><br>

4.Dictionary, Reports, Proceedings, reference sources will not be lent out.<br><br>

5.Books will be issued from the library to the students only against producing their ID Cards.<br><br>

6.The students have to return the books within 21 days. The Books must be returned on the due date positively.<br><br>

7.Fine will be levied for late return of books.<br><br>

Up to 15 days	<br>
Rs.1 /day<br>
15 days to 30 days	<br>
Rs.2 /day<br>
30 days and above	<br>
Rs.3 /day<br><br>

8.The books issued to the students must be kept in good conditions. Any damage to the books will attract a fine.<br><br>

9.Any kind of marking, underlining etc, in the books or in the periodicals is absolutely forbidden.<br><br>

10.Loss of books issued, if any, should be reported to the librarian immediately. The borrower should either replace the book within the stipulated time or pay the cost of the book or the cost at current market price which will be ascertained and fixed by the Librarian.<br><br>

11.Library is the place for study. No Student is allowed to eat, drink or speak inside the library. If student behaves differently, he/she will be sent out and appropriate action will be taken against the student.<br><br>

12.Students are advised to observe complete silence and discipline inside the library<br><br>

13.Books taken out of the shelves for reference should be replaced in shelves in the correct place.<br><br>

14.Reprography facility is available in the library. Library users can photocopy the materials subject to copyright restriction. The charges for photocopying are Rs.1 per page.<br><br>
15.Bags are to be kept outside of the Library. No one is allowed to carry bags or any other article inside the library.<br><br>

17.Electronic devices such as Cell Phone, Radio, Camera, Pen Drive or any kind, are strictly not allowed inside the library.<br><br>

18.Students after reading the magazine should keep it in the appropriate place provided in the journal rack.<br><br>

19.Users found violating any of the library rules will be viewed seriously and dealt with accordingly.<br><br>

20.During the Students library hours, one faculty member should present in the library to watch students and keep them silent.<br><br>

21.Students must leave their footwear only in the shoe stand at the entrance of the library.<br><br>
          </p>
          <p style="font-size: 9px; color: rgba(0, 0, 0, 0.578);"><br>All rules are to be strictly adhered to while in the library</p></div>
          <div class="tab-pane" id="ser"><p >
            <h6 style="text-align: left; margin-left: 25px; color: rgb(60,60, 172);">
              Facilities
            </h6>
            <ol style="text-align: left;">
              <li>Reprographic Facility</li>
              <li>CD copying</li>
              <li>Internet facility</li>                
              <li>Online Public Access Catalogue</li>
              <li>Bar - Coding</li>
              <li>Reference Service</li>
              <li>Periodical section</li>
              <li>CCTV - Surveillance</li>
              <li>Wi-fi facility</li>
            </ol>
            <br>
            <h6 style="text-align: left; margin-left: 25px; color: rgb(60,60, 172);">
              Newspapers
            </h6>
            <ol style="text-align: left;">
              <li>Indian Expersss</li>
              <li>The Hindu</li>
              <li>Times of India</li>
              <li>Business line</li>
              <li>Economic Times</li>
              <li>Tamil Hindu</li>
              <li>Dinamani</li>
            </ol>
          </p></div><p >
          <div class="tab-pane" id="ere">
            
            <br><table class="striped" style="width:800px; margin-left: 30px;">
              <thead style="color: rgb(60, 60, 172);">
                <tr>
                    <th>E-Resources </th>
                    <th>URL's</th>
                    <th>#</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>IEEE (ASPP)</td>
                  <td><a href="www.ieeexplore.ieee.org">www.ieeexplore.ieee.org</a></td>
                  <td>183</td>
                </tr>
                <tr>
                  <td>ASME</td>
                  <td><a href="www.asmedl.org">www.asmedl.org</a></td>
                  <td>31</td>
                </tr>
                <tr>
                  <td>SAGE</td>
                  <td><a href="http://journals.sagepub.com">http://journals.sagepub.com</a></td>
                  <td>13</td>
                </tr>

            </table>
            <br><br>
          
            <br><table class="striped" style="width:800px; margin-left: 30px;">
              <thead style="color: rgb(60, 60, 172);">
                <tr>
                    <th>Open Source E-Resources </th>
                    <th>URL's</th>
                
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>NPTEL</td>
                  <td><a href="http://nptel.ac.in/">http://nptel.ac.in/</a></td>
                </tr>
                <tr>
                  <td>Spoken Tutorial</td>
                  <td><a href="spoken-tutorial.org">spoken-tutorial.org</a></td>
                </tr>
                <tr>
                  <td>Anna University Lectures</td>
                  <td><a href="http://cfd.annauniv.edu/webcontent.html">http://cfd.annauniv.edu/webcontent.html</a></td>
                </tr>
                <tr>
                  <td>National Digital Library</td>
                  <td><a href="https://ndl.iitkgp.ac.in/">https://ndl.iitkgp.ac.in/</a></td>
                </tr>
                <tr>
                  <td>E-ShodhSindhu</td>
                  <td><a href="https://www.inflibnet.ac.in/ess/">https://www.inflibnet.ac.in/ess/</a></td>
                </tr>
                <tr>
                  <td>Swayam</td>
                  <td><a href="Swayam.gov.in">Swayam.gov.in</a></td>
                </tr>
                <tr>
                  <td>ePgPathsala</td>
                  <td><a href="http://epgp.inflibnet.ac.in/">http://epgp.inflibnet.ac.in/</a></td>
                </tr>
                <tr>
                  <td>Virtual Labs</td>
                  <td><a href="http://vlab.co.in/">http://vlab.co.in/</a></td>
                </tr>
                <tr>
                  <td>A-View</td>
                  <td><a href="http://aview.in/">http://aview.in/</a></td>
                </tr>
                <tr>
                  <td>e-Yantra</td>
                  <td><a href="http://www.e-yantra.org/">http://www.e-yantra.org/</a></td>
                </tr>
                <tr>
                  <td>Shodhganga</td>
                  <td><a href="http://shodhganga.inflibnet.ac.in/">http://shodhganga.inflibnet.ac.in/</a></td>
                </tr>
                <tr>
                  <td>MHRD E-contents</td>
                  <td><a href="http://mhrd.gov.in/e-contents">http://mhrd.gov.in/e-contents</a></td>
                </tr>
                <tr>
                  <td>MIT Courseware</td>
                  <td><a href="ocw.mit.edu">ocw.mit.edu</a></td>
                </tr>
                <tr>
                  <td>Edx</td>
                  <td><a href="https://www.edx.org">https://www.edx.org</a></td>
                </tr>
                <tr>
                  <td>Courseera</td>
                  <td><a href="www.coursera.org">www.coursera.org</a></td>
                </tr>
                <tr>
                  <td>Harvard Open Course</td>
                  <td><a href="www.harvard.edu">www.harvard.edu</a></td>
                </tr>
                <tr>
                  <td>Yale open course</td>
                  <td><a href="https://oyc.yale.edu">https://oyc.yale.edu</a></td>
                </tr>
                <tr>
                  <td>Saylor</td>
                  <td><a href="https://www.saylor.org">https://www.saylor.org</a></td>
                </tr>
                <tr>
                  <td>Udemy</td>
                  <td><a href="www.udemy.com">www.udemy.com</a></td>
                </tr>
                <tr>
                  <td>Khan academy</td>
                  <td><a href="https://www.khanacademy.org/">https://www.khanacademy.org/</a></td>
                </tr>
                

            </table><br>
            <p style="font-size: 9px; color: rgba(0, 0, 0, 0.578);"><br>The E-Resources are accessible through the link given below.<br>Last Updated on 04-Jan-2020 12:52 PM</p>
         
          </div>
      </div>
  </div>
</div>
</div>
<div><p style="padding: 20px;"></p></div>
<div class="wifi2">
<p>
<img src="Library Of  Saranathan College of Engineering Tiruchirappalli_Library.jpg" style="border-radius: 8px;" alt="">
<div><h6 style="color: rgb(60, 60, 172);">Digital Library</h6>The digital section is fully Air-conditioned, with 25 computers having internet and multimedia facilities.<br><br>
<h6 style="color: rgb(60, 60, 172);">Book Bank</h6>
A book bank also is operated for the deserving and needy students of our college. It operates by the name Santhanam Charitable trust.The total numbers of beneficiaries are 87 so far. A number of 424 books are issued to the beneficiaries.The students are provided with the complete set of books for the semester he/she is currently pursuing.</div>
</p>    
</div>
  <div style="margin:80px 600px;">
    <a href="#" class="button">Back</a>
  </div>  
</section>